@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Montserrat', sans-serif;
}
.logo{
    font-size: 32px;
            line-height: 39px;
            color: #ffffff;
}
header{
    .nav-menu {
        width: 1200px;
        height: 50px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-left: calc(50% - 600px);
        margin-top: 40px;
        &__logo{
            font-size: 32px;
            line-height: 39px;
            color: #192252;
        }
    
        &__navigation{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 280px;
            justify-content: space-between;
            &-item{
                font-size: 16px;
                line-height: 19px;
                color: #192252;
                transition: 0.3s;
            }
            &-item:hover{
                color: #7a8cf5;
                cursor: pointer;
            }
            
        }
    }
    
}
.btn{
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    background: #0E1734;
    border-radius: 4px;
    padding: 15px;
    transition: 0.3s;
    border: 1px solid #0E1734;
}
.btn:hover{
    background-color: #ffffff;
    border: 1px solid #0E1734;
    color: #0E1734;
    cursor: pointer;
}
.hero-card__item-link{
    color:#7a8cf5;
    cursor: pointer;
}

.reservation{
    display: flex;
    flex-direction: row;
    width: 1200px;
    height: 685px;
    align-items: center;
    margin-left: calc(50% - 600px);
    margin-top: 80px;
    &-text{
        &__title{
            font-size: 48px;
            line-height: 150%;
            color: #192252;
            width: 587px;
            font-weight: 600;
        }
        &__sub-title{
            width: 485px;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            color: #848FAC;
            margin-top: 25px;
        }
        &__btn{
            width: 156px;
            text-align: center;
            margin-top: 30px;
        }
    }
    &-img{}
}

.about-us{
    width: 1200px;
    height: 580px;
    margin-left: calc(50% - 600px);
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    &__img{

    }
    &__text{
        width: 690px;
        &-title{
            font-weight: 600;
            font-size: 36px;
            line-height: 150%;
            /* or 54px */
            
            letter-spacing: -0.01em;
            
            color: #192252; 
        }
        &-sub-title{
            margin-top: 25px;
            p{
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                /* or 27px */
                color: #848FAC;
            }
            p:last-child{
                padding-top: 15px;
            }
        }
        &-btn{
            width: 150px;
            text-align: center;
            margin-top: 25px;
            transition: 0.3s;
        }
        
    }
}
.benefit:last-child{
    margin-top: 30px;
}
.benefit{
    margin-top: 80px;
    width: 1200px;
    margin-left: calc(50% - 600px);
    height: 384px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    &-text{
        width: 580px;
        height: 160px;
        &__title{
            font-weight: 600;
            font-size: 36px;
            line-height: 150%;
            /* identical to box height, or 54px */
            
            letter-spacing: -0.01em;
            
            color: #192252;
        }
        &__sub-title{
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            /* or 27px */
            
            
            color: #848FAC;            
        }
    }
}
.hero{
    width: 1200px;
    margin-left: calc(50% - 600px);
    text-align: center;
    margin-top: 160px;


    &-text{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        &__title{}
        &__sub-title{
            width: 590px;
            margin-top: 25px;
        }
        &__btn{
            margin-top: 35px;
            width: 165px;
            text-align: center;
        }
    }
}

.hero-card{
    width: 1200px;
    height: 720px;
    margin-left: calc(50% - 600px);
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    &__item{
        width: 385px;
        height: 715px;
        display: flex;
        flex-direction: column;
        &-img{}
        &-title{
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            /* identical to box height, or 36px */
            
            margin-top: 30px;
            
            color: #000000;
        }
        &-sub-title{
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            /* or 27px */
            height: 85px;
            margin-top: 15px;
            color: #848FAC;
        }
        &-link{
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            /* identical to box height, or 27px */
            
            margin-top: 30px;
            color: #424F7B;
        }
    }
}
*{
    transition: 0.3s;
}
.room{
    width: 1200px;
    height: 440px;
    margin-left: calc(50% - 600px);
    margin-top: 160px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
&-text{
    
    &__slow-title{
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        /* identical to box height, or 24px */
        
        
        color: #424F7B;
    }
    &__title{
        font-weight: 600;
        font-size: 36px;
        line-height: 150%;
        letter-spacing: -0.01em;
        margin-top: 15px;
        color: #192252;
    }
    &__sub-title{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */
        margin-top: 25px;
        width: 384px;
        color: #848FAC;
    }
    &__btn-group{
        display: flex;
        flex-direction: row;
        margin-top: 30px;
        align-items: center;
        width: 315px;
        justify-content: space-between;
    }
    &__btn{}
    &__slow-btn{
        cursor: pointer;
        transition: 0.3s;

    }
    &__slow-btn:hover{
        color: #7a8cf5;
                cursor: pointer;
    }
}
.room-wrapper{
    display: flex;
    flex-direction: column;
}
&-card{
    margin-top: 20px;
    width: 580px;
    height: 188px ;
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 30px;
    background: #FFFFFF;
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 36px 5px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: 0px 5px 36px 5px rgba(0, 0, 0, 0.09);
    box-shadow: 0px 5px 36px 5px rgba(0, 0, 0, 0.09);
    &__visible{
        display: flex;
        align-items: center;
        justify-content: space-between;
    flex-direction: row;
        &-title{
            font-weight: 600;
            font-size: 24px;
            line-height: 150%;
            /* identical to box height, or 36px */
            
            text-align: center;
            
            color: #424F7B;
            
        }
        &-arrow{
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: #FFECE2;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }
    &__unvisible{
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        /* or 27px */
        
        
        color: #848FAC;
        margin-top: 25px;
    }
}
}

.testimoni{
    width: 1200px;
    height: 600px;
    margin-left: calc(50% - 600px);
    margin-top: 80px;
    text-align: center;
    .swiper-slide{
        margin-top: 60px;
        p{
            font-weight: 400;
            font-size: 18px;
            line-height: 150%;
            /* or 27px */
            margin-top: 40px;
           width: 800px;
           margin-left: calc(50% - 400px);
            text-align: center;
            
            color: #848FAC;
            
        }
        .name{
            font-weight: 500;
            font-size: 20px;
            line-height: 150%;
            /* identical to box height, or 30px */
            margin-top: 40px;
            text-align: center;
            
            color: #192252;
        }
       
    }
}


.swiper-pagination{
    margin-top: 250px;
}
.swiper-wrapper{
    height: 4560px;
}
:root {
    --swiper-navigation-size: 44px;
    --swiper-theme-color: #FAB047;
}

footer{
    background-color: #0B265A;
    display: flex;
    height: 450px;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 40px;
    padding-bottom: 40px;
    align-items: center;
    .first{
        display: flex;
        flex-direction: column;
        .header-foot{
            width: 150px;
        }
    }
    .header-foot{
        font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.01em;

color: #FFFFFF;
    }
    .body-foot{
        font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 28px;
/* or 175% */


color: #D9DBDE;
    }
}



.title{
    font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 150%;
/* identical to box height, or 54px */

letter-spacing: -0.01em;

color: #192252;
}
.sub-title{
    font-weight: 400;
font-size: 18px;
line-height: 150%;
/* or 27px */


color: #848FAC;
}

.aw{
    display: flex;
    flex-direction: row;
    width: 550px;
    
    justify-content: space-between;
}